





























<!-- <div *ngFor="let person of peeps ">
<p>{{person.name}}   {{person.phrase}}</p>
</div> -->























<!-- <h1>Success</h1> -->


<!-- <label for="">name</label>
<input [(ngModel)]="username" type="text">
<p>{{username}}</p>

<button [disabled]="username==='' " (click)="reset()" class="btn btn-primary"> click me</button>
<p *ngIf="blah==true; else nothing">A item was erased</p>
<ng-template #nothing>
  <p>nothign was erased</p>
</ng-template> -->



<!-- <p [hidden]="blah">Secret Passord=hingadinga durgon</p> -->

<!-- <button class="btn btn-primary" (click)="details()">Display Details</button>

<p *ngFor="let click of btnClicks"
[ngStyle]="{backgroundColor:click >=5 ? 'blue' : 'white'}"
[ngClass]="{'white-text':click >=5}">
 This is click # {{click}} </p>

 -->
