<!-- <button class="btn btn-primary">Testing </button> -->
<!-- <app-success-alert ></app-success-alert> -->
<!-- <app-game-control></app-game-control> -->
<!-- <app-serv-ex></app-serv-ex> -->
<!-- continuining sign up and login auth on group proj -->
<nav>
  <ul>
    <a routerLink="" routerLinkActive="active"><li>Main</li> </a>
    <a routerLink="/serv-ex" routerLinkActive="active">  <li>Serv-Ex</li> </a>
    <a routerLink="/success" routerLinkActive="active"><li>Success</li> </a>
    <a routerLink="/warning" routerLinkActive="active"><li>Warning</li> </a>
    <a routerLink="/game-control" routerLinkActive="active"><li>Game Control</li> </a>
  </ul>
</nav>

<router-outlet></router-outlet>

