*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





.cont{
  display: flex;

}


ul{
  display: flex;
  gap: 10px;
}

li {
  list-style: none;


}

nav{
  background-color: rgba(128, 128, 128, 0.233);
  width: 100%;
  margin-bottom: 10px;
}
